.extra_calculation_button_wrap{
    margin-bottom: 50px;
}
/* .lpc_variations{
    border-bottom: 1px solid var(--ast-border-color);
    position: relative;
    margin-bottom: 1em;
    width: 100%;
} */

.lpc_variations{
    margin-top: 20px;
}

.lpc_border-none {
    border-collapse: collapse;
    border: none;
    margin-top: 10px;
  }
  .lpc_border-none th {
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ddd;
    text-transform: capitalize;
  }
  .lpc_border-none td {
    border: none;
  }
  
  .lpc_border-none tr:first-child td {
    border-top: none;
  }
  
  .lpc_border-none tr:last-child td {
    border-bottom: none;
  }
  
  .lpc_border-none tr td:first-child {
    border-left: none;
  }
  
  .lpc_border-none tr td:last-child {
    border-right: none;
  }

  .lpc_hide_extra_product_class {
    display: block;
  }

  #lpc_quontity_size_total, #lpc_quontity_size_total td{
    text-align: center;
    border: none;
  }

  #lpc_quontity_size_total input{
   width: 60px;
   border: none;
   background-color: #fff;
   box-shadow: 0 0 15px 10px rgba(0,0,0,.06);
   text-align: center;
   border-radius: 4px;
  }
  button.lpc_calculate_price_button.button {
    margin-bottom: 20px;
}
.lpc_product_price_calculating_table td {
  text-align: center;
}
table#lpc_percentance_table_total {
  border: 1px solid darkgray;
  text-align: center;

}
table#lpc_percentance_table_total th {
 background-color: beige;
}
.lpc_product_price_calculating_table {
  margin-bottom: 40px;
}

@media only screen and (max-width: 553px) {
  .lpc_product_price_calculating_table {
    margin-bottom: 0px;
    font-size: 12px;
  }
  #lpc_quontity_size_total, #lpc_quontity_size_total td {
    text-align: center;
    border: none;
    display: inline-block;
    margin-left: -6px !important;
  } 
}
@media only screen and (max-width: 443px) {
  .lpc_product_price_calculating_table {
    margin-bottom: 0px;
    display: inline-block;
    margin-left: -37px;
  }
  .lpc_border-none{
    position: relative;
    margin-left: 51px;
  }
  .lpc_border-none tbody, td, tfoot, th, thead, tr {
    display: block;
  }
  tr.class_th_right {
    /* display: inline-block; */
    position: absolute;
    top: 0px;
    left: 189px;
  }

}
/* @media only screen and (max-width: 404px) {
  .lpc_product_price_calculating_table {
    margin-bottom: 0px;
    display: inline-block;
    margin-left: -43px;
  }
} */